@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    src: local("Manrope"),
        url("../fonts/manrope-v20-latin-800.woff2") format("woff2");
}
